[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=no
Icon=harbour-sirensong
Exec=harbour-sirensong %U
Name=SirenSong
Name[de]=SirenSong
Name[fi]=SirenSong
MimeType=audio/mpeg;
