[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SirenSong-Media-Player
Exec=SirenSong-Media-Player
Name=SirenSong
Name[de]=SirenSong
Name[fi]=SirenSong

