[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SirenSong-Media-Player
Exec=SirenSong-Media-Player
Name=SirenSong
# translation example:
# your app name in German locale (de)
Name[de]=SirenSong-Media-Player

